h1 {
    @include font-heading;
}

.main-content h1 {
    margin-left: -0.09em;

    text-transform: uppercase;

    font-size: 3em;

@include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2em;
    }
}

.main-content h2,
.main-content h3 {
    margin-left: -0.05em;

@include font-subheading;
}

a {
    outline: none;
}

.page-header {
    padding-top: 92px;
    padding-bottom: 80px;

    @media (max-width: $medium-breakpoint) {
        padding-top: 72px;
        padding-bottom: 60px;
    }

    .project-name,
    .project-tagline {
        color: $header-heading-color;
    }

    .project-name {
        text-transform: uppercase;

        opacity: 1;

        font-size: 4em;

@include font-title;

        @media (max-width: $small-breakpoint) {
            font-size: 3em;
        }

        @media (max-width: $tiny-breakpoint) {
            font-size: 2.2em;
        }
    }

    .project-tagline {
        opacity: 0.9;

@include font-subtitle;
    }
}

.page-tabs {
    position: absolute;
    z-index: 2;

    width: 100%;

    transform: translateZ(0);

    background-color: $background-color-alt;
    box-shadow: 0 -4px 6px rgba(0, 0 ,0, 0.15);

    .page-tabs-inner {
        display: table;

        height: $tabs-height;
        margin: auto;

        transition: height 0.15s ease;
        text-align: center;
    }

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        box-shadow: 0 4px 6px $background-color;

        @media (max-height: $medium-breakpoint), (max-width: $small-breakpoint) {
            .page-tabs-inner {
                height: $tabs-height-small;
            }
        }
    }

    a {
        position: relative;
        z-index: 2;

        display: table-cell;

        margin: 0;
        padding: 0 1em;

        transition: background-color 0.1s ease, color 0.1s ease;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;

        font-weight: 400;

        @media (max-width: $tiny-breakpoint) {
            min-width: 100vw;
        }

        @media (min-width: $small-breakpoint) {
            min-width: 100px;
        }

        @media (min-width: $medium-breakpoint) {
            min-width: 200px;
        }

        &::before {
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            content: "";
            transition: transform 0.1s ease;
            transform: scaleY(0);
            transform-origin: 50% 100%;

            border-radius: 0;
            background-color: $background-color;
        }
    }
}

.main-content {
    min-height: calc(100vh);
    padding-top: calc(96px + 1em);

    code {
        @include font-code;
    }

    a {
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            margin: -4px;

            content: "";
            transition: background-color 0.1s ease, border-color 0.05s ease, transform 0.075s ease-in;
            transform: scale(1.5);

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: transparent;
        }

        &:focus::before {
            transition: background-color 0.1s ease, border-color 0.05s ease, transform 0.075s ease-out;
            transform: scale(1);

            border-color: $table-border-color;
            background-color: rgba($background-color-alt, 0.05);
        }

        &:active::before {
            transition: background-color 0.1s ease, border-color 0.05s ease, transform 0s linear;

            background-color: transparent;
        }
    }
}

.highlight {
    background-color: transparent;
}
