# Quick install list:
    # pip install:
        discord.py[voice]
        youtube-dl
        soundcloud
        pynacl
        google-api-python-client
        requests
        # lxml
        praw
    # ffmpeg/bin/ in system PATH variables


# core:
    discord.py[voice]
    youtube-dl
    # ffmpeg/bin/ in system PATH variables
    PyGithub

# music module:
    youtube-dl
    soundcloud
    spotipy
    pynacl
    google-api-python-client

# chatbot module:
    requests
    # lxml

# gamedeals module:
    praw

# rocketleague module:
    requests
