# Discord.py:
    discord
    aiohttp
    websockets
    chardet
    multidict
    async-timeout

    youtube-dl

    # Needs ffmpeg/bin/ in path


# All Modis external packages:
    discord
    youtube_dl
    pynacl
    google-api-python-client
    requests
    lxml

music module:
    discord
    youtube_dl
    pynacl
    google-api-python-client

replies module:
    discord

tableflip module:
    discord

chatbot module:
    discord
    requests
    lxml

gamedeals module:
    discord
    praw

rocketleague module:
    discord
    requests
    lxml
