@import "transitions";
@import "page/content";
@import "page/code";
@import "page/anchors";


body {
    overflow-x: hidden;
    overflow-y: scroll;

    margin-top: -100px;

    color: $text-color;
    background-color: $background-color;

@include font-body;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
