@import "page-transitions";


body {
    overflow-x: hidden;
    overflow-y: scroll;

    color: $text-color;
    background-color: $background-color;

@include font-body;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

h1 {
    @include font-heading;
}

.main-content h1 {
    margin-left: -0.09em;

    text-transform: uppercase;

    font-size: 3em;

@include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2em;
    }
}

.main-content h2,
.main-content h3 {
    margin-left: -0.05em;

@include font-subheading;
}

.page-header {
    height: 21em;
    padding-top: 92px;
    padding-bottom: 80px;

    transition: height 0.4s ease, padding 0.4s ease;

    @media (max-width: $medium-breakpoint) {
        padding-top: 72px;
        padding-bottom: 60px;
    }

    .project-name,
    .project-tagline {
        transition: opacity 0.1s ease;

        color: $header-heading-color;
    }

    .project-name {
        text-transform: uppercase;

        opacity: 1;

        font-size: 4em;

@include font-title;

        @media (max-width: $small-breakpoint) {
            font-size: 3em;
        }

        @media (max-width: $tiny-breakpoint) {
            font-size: 2.2em;
        }
    }

    .project-tagline {
        opacity: 0.9;

@include font-subtitle;
    }
}

.page-tabs {
    position: absolute;

    width: 100%;

    background-color: $background-color-alt;
    box-shadow: 0 -4px 6px rgba(0, 0 ,0, 0.15);

    .page-tabs-inner {
        display: table;

        margin: auto;

        text-align: center;
    }

    a {
        position: relative;
        z-index: 1;

        display: inline-block;

        padding: 12px;

        transition: background-color 0.1s ease, color 0.1s ease;
        text-align: center;
        text-decoration: none;

        font-weight: 400;

        @media (max-width: $tiny-breakpoint) {
            min-width: 100vw;
        }

        @media (min-width: $small-breakpoint) {
            min-width: 100px;
        }

        @media (min-width: $medium-breakpoint) {
            min-width: 200px;
        }

        &::before {
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            content: "";
            transition: transform 0.125s ease;
            transform: scaleY(0);
            transform-origin: 50% 100%;

            background-color: $background-color;
        }
    }
}

.main-content {
    min-height: calc(100vh);
    padding-top: calc(96px + 1em);

    code {
        @include font-code;
    }
}

.highlight {
    background-color: transparent;
}
