---
---

@import "{{ site.theme }}";

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #A9E62E;
$header-bg-color: #404040;
$header-bg-color-secondary: #404040;

// Text
$section-headings-color: #2EA9E6;
$body-text-color: #CCCCCC;
$body-link-color: #E62EA9;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #666666;
$code-text-color: #BFBFBF;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
