
// Fonts
// Update html to include these fonts when adding new fonts
@mixin font-title {
    text-transform: lowercase;

    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 400;
}

@mixin font-subtitle {
    text-transform: lowercase;

    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-heading {
    margin-left: -0.07em;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

@mixin font-subheading {
    margin-left: -0.04em;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-code {
    font-family: "Source Code Pro", Consolas, Courier, monospace;
    font-weight: 400;
}
