
// Fonts
// Update html to include these fonts when adding new fonts
@mixin font-title {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
	text-transform: lowercase;
}

@mixin font-subtitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
	text-transform: lowercase;
}

@mixin font-heading {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
	text-transform: lowercase;
}

@mixin font-subheading {
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-body {
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-code {
    font-family: "Source Code Pro", Consolas, Courier, monospace;
    font-weight: 400;
}
