@import "transitions";

@import "page/header";
@import "page/content";
@import "page/code";
@import "page/anchors";

@import "page/discord-widget";


body {
    overflow-x: hidden;
    overflow-y: scroll;

    color: $text-color;
    background-color: $background-color;

@include font-body;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
    transform: scale(1.05);

    opacity: 0;

    &.visible {
        transition: opacity 0.25s $m-ease, transform 0.4s $m-ease-out;
        transform: scale(1);

        opacity: 1;
    }
}
