@keyframes page-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes page-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.main {
    .main-content {
        animation-name: page-in;
        animation-duration: 0.1s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    .page-tabs a {
        color: $text-color-alt;
        background-color: transparent;

        &:focus {
            background-color: darken($background-color-alt, 10%);
        }

        &:hover {
            background-color: darken($background-color-alt, 5%);
        }

        &:active {
            background-color: darken($background-color-alt, 10%);
        }

        &.page-link-current {
            color: $text-color;

            &:focus {
                color: darken($text-color, 40%);
            }

            &::before {
                transform: scaleY(1);
            }
        }
    }
}

.main.page-out {
    .main-content {
        animation-name: page-out;
        animation-timing-function: ease;

        a {
            &::before {
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    .page-tabs {
        .page-tabs-inner {
            height: $tabs-height;
        }

        a.page-link-current {
            color: $text-color;
        }
    }
}
