// Easings
$m-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$m-ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$m-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$m-ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1);

// Colors
$primary-color: #2e2f34;
$secondary-color: #1e88e5;
$background-color: #ffffff;
$background-color-alt: #2e2f34;
$text-color: rgba(0, 0, 0, 0.87);
$text-color-alt: rgba(255, 255, 255, 1);

// Heading
$header-heading-color: $text-color-alt;
$header-bg-color: $primary-color;
$header-bg-color-secondary: $secondary-color;
// Shadows
@mixin header-shadow-page {
    box-shadow: 0 -4px 6px rgba(0, 0 ,0, 0.15);
}
@mixin header-shadow-fixed {
    box-shadow: none;
}

// Code
$code-bg-color: rgba($background-color-alt, 0.08);
$code-text-color: $text-color;

// Text
$section-headings-color: $primary-color;
$body-text-color: $text-color-alt;
$body-link-color: $secondary-color;

// Borders
$border-color: rgba($background-color-alt, 0.05);
$table-border-color: rgba($background-color-alt, 0.15);
$hr-border-color: rgba($background-color-alt, 0.15);
$border-radius: 0.4rem;

// Fonts
@import "fonts";

// Breakpoints
$small-breakpoint: 24em;
$tiny-breakpoint: 12em;

// Sizes
$tabs-height: 3em;
$tabs-height-small: 2.5em;

// Header
@mixin header-background {
    background-image: url("https://github.com/Infraxion/modis/raw/gh-pages/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
