---
---

$primary-color: #AAFF00;
$secondary-color: #00AAFF;
$background-color: #111111;
$background-color-alt: #eaeaea;
$text-color: rgba(255, 255, 255, 0.9);
$text-color-alt: rgba(0, 0, 0, 0.9);

// Heading
$header-heading-color: $text-color-alt;
$header-bg-color: $primary-color;
$header-bg-color-secondary: $secondary-color;

// Code
$code-bg-color: rgba($background-color-alt, 0.08);
$code-text-color: $text-color;

// Text
$section-headings-color: $primary-color;
$body-text-color: $text-color-alt;
$body-link-color: $secondary-color;

// Borders
$border-color: #acacac;
$table-border-color: $background-color-alt;
$hr-border-color: $background-color-alt;

@import "{{ site.theme }}";

body {
  color: $text-color;
  background-color: $background-color;
}

// Tabs
.page-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  
  background-color: $background-color;
  
  .page-tabs {
    position: absolute;
    margin: auto;
  
    a {
      vertical-align: middle;
      color: $text-color;
    }
  }
}
