$link-font-size: 24px;

a.header-link {
    position: absolute;

    margin-left: calc(0.25em + 0.3rem);

    color: $text-color;

    &::before {
        display: none;
    }

    i {
        position: relative;

        transition: opacity 0.15s $m-ease;
        vertical-align: middle;

        opacity: 0;

        font-size: $link-font-size;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            margin: -4px;

            content: "";
            transition: opacity 0.15s $m-ease, transform 0.15s $m-ease-in;
            transform: scale(1.5);

            opacity: 0;
            border: 1px solid $table-border-color;
            border-radius: 50%;
            background-color: rgba($background-color-alt, 0.12);
        }
    }

    &:focus i::before {
        transition: opacity 0.15s $m-ease, transform 0.15s $m-ease-out;
        transform: scale(1);

        opacity: 1;
    }


    &:active i::before {
        transition: opacity 0.1s $m-ease, transform 0s linear;
        transform: scale(1);

        opacity: 1;
        background-color: transparent;
    }
}

h2,
h3,
h4,
h5,
h6 {
    &::before {
        position: relative;

        display: block;

        width: 0;
        height: $tabs-height;
        margin-top: -$tabs-height;

        content: "";

        @media (max-height: $medium-breakpoint), (max-width: $small-breakpoint) {
            height: $tabs-height-small;
            margin-top: -$tabs-height-small;
        }
    }
}

a.header-link:focus,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    i {
        opacity: 1;
    }
}
