h1 {
    @include font-heading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

a {
    outline: none;
}

.main-content h1 {
    @include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2em;
    }
}

.main-content h2,
.main-content h3 {
    @include font-subheading;
}

.main-content {
    min-height: calc(100vh);
    padding-top: calc(96px + 1em);

    code {
        @include font-code;
    }

    a {
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            margin: -4px;

            content: "";
            transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-in;
            transform: scale(1.5);
            pointer-events: none;

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: transparent;
        }

        &:focus::before {
            transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-out;
            transform: scale(1);

            border-color: $table-border-color;
            background-color: rgba($background-color-alt, 0.12);
        }

        &:active::before {
            transition: background-color 0.1s $m-ease, border-color 0.1s $m-ease, transform 0s linear;

            background-color: transparent;
        }
    }
}

.highlight {
    background-color: transparent;
}

.main-content .highlight pre,
.main-content code {
    border: 1px solid $border-color;
    border-radius: $border-radius;
}
