$discord-widget-margin: 1.2em;
$yt-width: 16;
$yt-height: 9;


iframe {
    transform: scale(0.9);

    opacity: 0;

    &.visible {
        transition: opacity 0.2s $m-ease, transform 0.2s $m-ease-out;
        transform: scale(1);

        opacity: 1;
    }
}

.main-content .widget-discord {
    position: relative;

    float: right;

    max-width: 100%;
    max-height: 60vh;
    margin-top: $discord-widget-margin;
    margin-bottom: $discord-widget-margin;
    margin-left: $discord-widget-margin;

    @media (max-width: $large-breakpoint) {
        max-width: 50%;
    }

    @media (max-width: $medium-breakpoint) {
        min-width: 100%;
        max-width: 100%;
    }
}

.youtube-player {
    position: relative;

    width: 100%;
    height: 0;
    padding-bottom: 100% / $yt-width * $yt-height;

    background-color: transparent;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;

        content: "Loading YouTube";
        text-align: center;

        color: $text-color;

        font-size: 1rem;
        line-height: 0;
    }

    iframe {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }
}
