$header-background-color: #1e1e1e;

.page-header {
    position: relative;
    z-index: -1;

    padding-top: 92px;
    padding-bottom: 80px;

    background: none;
    background-color: $header-background-color;

    @media (max-width: $medium-breakpoint) {
        padding-top: 72px;
        padding-bottom: 60px;
    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        transform: scale(1.05);

        opacity: 0;

@include header-background;

        &.visible {
            transition: opacity 0.25s $m-ease, transform 0.4s $m-ease-out;
            transform: scale(1);

            opacity: 1;
        }
    }

    .project-name,
    .project-tagline {
        position: relative;
        z-index: 2;

        color: $header-heading-color;
    }

    .project-name {
        opacity: 1;

@include font-title;

        @media (max-width: $small-breakpoint) {
            font-size: 3em;
        }

        @media (max-width: $tiny-breakpoint) {
            font-size: 2.2em;
        }
    }

    .project-tagline {
        opacity: 0.9;

@include font-subtitle;
    }
}

.page-tabs {
    position: absolute;
    z-index: 1;

    width: 100%;

    transform: translateZ(0);

    background-color: $background-color-alt;

@include header-shadow-page;

    .page-tabs-inner {
        display: table;

        height: $tabs-height;
        margin: auto;

        transition: height 0.15s $m-ease;
        text-align: center;
    }

    &.fixed {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;

@include header-shadow-fixed;

        @media (max-height: $medium-breakpoint), (max-width: $small-breakpoint) {
            .page-tabs-inner {
                height: $tabs-height-small;
            }
        }
    }

    a {
        position: relative;
        z-index: 2;

        display: table-cell;

        margin: 0;
        padding: 0 1em;

        transition: background-color 0.1s $m-ease, color 0.1s $m-ease;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;

        font-weight: 400;

        @media (max-width: $tiny-breakpoint) {
            min-width: 100vw;
        }

        @media (min-width: $small-breakpoint) {
            min-width: 100px;
        }

        @media (min-width: $medium-breakpoint) {
            min-width: 200px;
        }

        &::before {
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            content: "";
            transition: transform 0.1s $m-ease;
            transform: scaleY(0);
            transform-origin: 50% 100%;

            border-radius: 0;
            background-color: $background-color;
        }
    }
}
