<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <head>
        <meta charset="UTF-8"> {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#141414">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/discord-widget/latest/discord-widget.min.js"></script>

        <script src="{{site.baseurl}}/assets/js/anchors.js"></script>

        <script src="{{site.baseurl}}/assets/js/jquery.smoothState.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/transition.js"></script>

        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico"/>
    </head>

    <body>
        <div id="main" class="main">
            {% include header.html %}

            <section class="main-content">
                {{ content }}

                {% include footer.html %}
            </section>
        </div>

        {% if site.google_analytics %}
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script> {% endif %}

    </body>

</html>
