---
layout: default
---

<div>
    <script type="text/javascript">
        function iframe_loaded(frame) {
            console.log("widget loaded");
            $(frame).addClass("visible")
        }
    </script>

    <style>
        .youtube-player {
            position:relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.27198%;
        }
        
        .youtube-player iframe { 
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="youtube-player">
        <iframe width='1400' height='824' src="https://www.youtube.com/embed/VIDEO_ID&theme=dark&color=white&autohide=2&modestbranding=1&rel=0"frameborder="0"></iframe>
    </div>

    <iframe class="widget-discord" onload="iframe_loaded(this)" src="https://discordapp.com/widget?id=379959693306494979&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

    {{ content }}
</div>
