---
layout: default
---

<iframe width=100% height="315" src="https://www.youtube.com/embed/ZsT8oq5qN2M" frameborder="0" gesture="media" allowfullscreen></iframe>

<div>
    <div class="discord-widget"></div>
    
    <script type="text/javascript">
        $(function () {
            if ($(".discord-widget")) {
                discordWidget.init({
                    serverId: '379959693306494979',
                    title: 'Modis Discord Server',
                    join: true,
                    alphabetical: false,
                    theme: 'none',
                    hideChannels: [],
                    showAllUsers: true,
                    allUsersDefaultState: true,
                    showNick: false
                });

                discordWidget.render();
            }
        });
    </script>

    {{ content }}
</div>
